<!doctype html>
<html lang="en"><head>
    <meta charset="utf-8">
    <title>金豆客户管理后台</title>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="lib/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.css">

    <script src="lib/jquery-1.11.1.min.js" type="text/javascript"></script>



    <link rel="stylesheet" type="text/css" href="stylesheets/theme.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/premium.css">

</head>
<body class=" theme-blue">

    <!-- Demo page code -->

    <script type="text/javascript">
        $(function() {
            var match = document.cookie.match(new RegExp('color=([^;]+)'));
            if(match) var color = match[1];
            if(color) {
                $('body').removeClass(function (index, css) {
                    return (css.match (/\btheme-\S+/g) || []).join(' ')
                })
                $('body').addClass('theme-' + color);
            }

            $('[data-popover="true"]').popover({html: true});

        });
    </script>
    <style type="text/css">
        #line-chart {
            height:300px;
            width:800px;
            margin: 0px auto;
            margin-top: 1em;
        }
        .navbar-default .navbar-brand, .navbar-default .navbar-brand:hover {
            color: #fff;
        }
    </style>

    <script type="text/javascript">
        $(function() {
            var uls = $('.sidebar-nav > ul > *').clone();
            uls.addClass('visible-xs');
            $('#main-menu').append(uls.clone());
        });
    </script>
    <script>
        function Cmd(obj){
            $(obj).parent().find("input").each(function(){
                $(this).hide();
            });
            $(obj).parent().find("select").each(function(){
                $(this).hide();
            });
            $("#div" + obj.value).show();
            $("#div100").show();
        }
    </script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../assets/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">


  <!--[if lt IE 7 ]> <body class="ie ie6"> <![endif]-->
  <!--[if IE 7 ]> <body class="ie ie7 "> <![endif]-->
  <!--[if IE 8 ]> <body class="ie ie8 "> <![endif]-->
  <!--[if IE 9 ]> <body class="ie ie9 "> <![endif]-->
  <!--[if (gt IE 9)|!(IE)]><!-->

  <!--<![endif]-->

    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="" href="manager-index.html"><span class="navbar-brand"><span class="fa fa-paper-plane"></span> 金豆客户管理后台</span></a>
        </div>
        <div class="navbar-collapse collapse" style="height: 1px;">
            <ul id="main-menu" class="nav navbar-nav navbar-right">
                <li class="dropdown hidden-xs">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user padding-right-small" style="position:relative;top: 3px;"></span> Jack Smith
                        <i class="fa fa-caret-down"></i>
                    </a>

                <ul class="dropdown-menu">
                    <li><a href="./">My Account</a></li>
                    <li class="divider"></li>
                    <li class="dropdown-header">Admin Panel</li>
                    <li><a href="./">Users</a></li>
                    <li><a href="./">Security</a></li>
                    <li><a tabindex="-1" href="./">Payments</a></li>
                    <li class="divider"></li>
                    <li><a tabindex="-1" href="sign-in.html">Logout</a></li>
                </ul>
                </li>
            </ul>
        </div>
    </div>

    <div class="sidebar-nav">
        <ul>
            <li><a href="#" data-target=".dashboard-menu" class="nav-header" data-toggle="collapse"><i class="fa fa-fw fa-dashboard"></i> 客户管理<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="dashboard-menu nav nav-list collapse in">
                    <li><a href="customer-index.html"><span class="fa fa-caret-right"></span> 总览</a></li>
                    <li><a href="customer-goldbean-info.html"><span class="fa fa-caret-right"></span> 金豆明细</a></li>
                    <li><a href="customer-goldbean-activity.html"><span class="fa fa-caret-right"></span> 金豆活动时间</a></li>
                </ul>
            </li>
            <li><a href="#" data-target=".premium-menu" class="nav-header collapsed" data-toggle="collapse"><i class="fa fa-fw fa-fighter-jet"></i> 个人资料管理<i class="fa fa-collapse"></i></a></li>
            <li>
                <ul class="premium-menu nav nav-list collapse">
                    <li><a href="customer-info.html"><span class="fa fa-caret-right"></span> 个人资料</a></li>
                    <li><a href="customer-info-update.html"><span class="fa fa-caret-right"></span> 个人资料修改</a></li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="content">
        <div class="header">
            <h1 class="page-title">金豆明细</h1>
            <ul class="breadcrumb">
                <li><a href="manager-index.html">首页</a> </li>
                <li class="active">金豆明细</li>
            </ul>
        </div>

        <div class="main-content">
            <div class="btn-toolbar list-toolbar">
                <button class="btn btn-default pull-right">搜索</button>
                <input id="div0" type="text" class="form-control span12 pull-right" style="width:10%;margin-right:10px">
                <select id="div1" name="DropDownTimezone" id="DropDownTimezone" class="form-control pull-right" style="display:none;width:10%;margin-right:10px">
                    <option value="0">被推荐人消费获取金豆</option>
                    <option value="1">本人兑换消费金豆</option>
                </select>
                <input id="div2" type="date" class="form-control pull-right" value="2017-09-24" style="display:none;width:10%;margin-right:10px">
                <select id="div100" name="DropDownTimezone" id="DropDownTimezone" class="form-control pull-right" onchange="Cmd(this)" style="width:10%;margin-right:10px">
                    <option value="0">对象</option>
                    <option value="1">方式</option>
                    <option value="2">日期</option>
                </select>
            </div>
        </div>

        <div class="main-content">
            <table class="table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><a href="#">对象</a></th>
                        <th><a href="#">方式</a></th>
                        <th><a href="#">金豆结算</a></th>
                        <th><a href="#">剩余金豆</a></th>
                        <th><a href="#">金额结算</a></th>
                        <th><a href="#">日期</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Mark</td>
                        <td>Tompson</td>
                        <td>the_mark7</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>Ashley</td>
                        <td>Jacobs</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Audrey</td>
                        <td>Ann</td>
                        <td>audann84</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>John</td>
                        <td>Robinson</td>
                        <td>jr5527</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Aaron</td>
                        <td>Butler</td>
                        <td>aaron_butler</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Chris</td>
                        <td>Albert</td>
                        <td>cab79</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                        <td>ash11927</td>
                    </tr>
                </tbody>
            </table>
            <ul class="pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
            <div class="modal small fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3 id="myModalLabel">删除确认</h3>
                        </div>
                        <div class="modal-body">
                            <p class="error-text"><i class="fa fa-warning modal-icon"></i>你确定要删除该用户?<br>删除后无法恢复</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">取消</button>
                            <button class="btn btn-danger" data-dismiss="modal">删除</button>
                        </div>
                    </div>
                </div>
            </div>
            <footer style="padding-top:17%">
                <hr>
                <!--
                <p class="pull-right">A <a href="http://www.baidu.com" target="_blank">长沙市铂尔尼传媒有限责任公司</a> by <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
                <p>© 2017 <a href="http://www.portnine.com" target="_blank">Portnine</a></p>
                -->
            </footer>
        </div>
    </div>


    <script src="lib/bootstrap/js/bootstrap.js"></script>
    <script type="text/javascript">
        $("[rel=tooltip]").tooltip();
        $(function() {
            $('.demo-cancel-click').click(function(){return false;});
        });
    </script>


</body></html>
